.flexbox {
  display: flex;

  &.justify {
    &-center {
      justify-content: center;
    }
    &-start {
      justify-content: flex-start;
    }
    &-end {
      justify-content: flex-end;
    }
    &-spaceAround {
      justify-content: space-around;
    }
    &-spaceBetween {
      justify-content: space-between;
    }
  }
  &.align {
    &-center {
      align-items: center;
    }
    &-end {
      align-items: flex-end;
    }
    &-start {
      align-items: flex-start;
    }
    &-stretch {
      align-items: stretch;
    }
  }
  &.direction {
    &-column {
      flex-direction: column;
    }
    &-columnReverse {
      flex-direction: column-reverse;
    }
    &-row {
      flex-direction: row;
    }
    &-rowReverse {
      flex-direction: row-reverse;
    }
  }

  &.wrap {
    flex-wrap: wrap;
  }
  &.nowrap {
    flex-wrap: nowrap;
  }
  &.wrapReverse {
    flex-wrap: wrap-reverse;
  }
}
